fastapi
uvicorn[standard]
pandas
numpy
scikit-learn
statsmodels
mlxtend
shap
reportlab
python-pptx
openpyxl
python-multipart
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
requests
yfinance
google-generativeai
dowhy
sqlalchemy
aiofiles
bcrypt==4.0.1
